<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="library" value="https://gitlab.frame.uz/api/v4/projects/81/packages/nuget/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <library>
            <add key="Username" value="nuget" />
            <add key="ClearTextPassword" value="gldt-Qw12jS6Qy6XgoHwxg9so" />
        </library>
    </packageSourceCredentials>
</configuration>